jinja2
aiohttp_jinja2
pyopenssl
humanize
fastapi
uvicorn[standard]
fastapi-cache2[redis]
orjson
aioredis
aiodns
humanhash3
playwright
backoff
async-timeout
async_lru
h3>=4.0.0b2
pendulum>=3.0.0b1
aiohttp>=3.9.0b0
